@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Schibsted Grotesk", "Roboto", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
#bg-img {
  background-image: url("/assets/bg-left.PNG");
}

body {
  overflow-x: hidden;
}
