@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Schibsted Grotesk", "Roboto", sans-serif;
}
#bg-img {
  background-image: url("/assets/bg-left.PNG");
}

body {
  overflow: hidden !important;
}

.disable-select {
  user-select: none;
  -webkit-touch-callout: none;
}
